html,body{
    height:100%;
    padding: 0;
    margin: 0;
}

a:hover{
    text-decoration:none;
}

#pageContainer{
    width:100%;
    height:100%;
    background-color: #fafafa;

}
header{
    width:100%;
    height:60px;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    padding:7px 16px;
    border-bottom: 1px solid #e8e8e8;
    background-color: white;
    box-sizing:border-box;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}
header .rightIcons img, header button{
border:none;
width:40px;
height:40px;
background-color:transparent;
cursor:pointer;
}

#sidenavContainer{
    width:240px;
    background-color: #F5F5F5;
    padding-top: 60px;
    position: fixed;
    top: 0;
    bottom:0;
}
#mainSectionContainer{
    padding-top: 60px;
    display:flex;
}

header .logoContainer{
    width:70px;
    height:70px;
    flex:0 1 auto;
}
header .logoContainer img{
    width:100%;
    height:100%;
    margin-left:8px;
}
#mainSectionContainer.leftPadding{
    padding-left:240px;
}
header .searchBarContainer{
    flex:1;
    display:flex;
    margin:0 40px;
}

/* barre de recherche */

header .searchBarContainer form{
    flex:1;
    display:flex;
}
header .searchBarContainer form .searchBar{
    flex:1;
    color:#232323;
    font-size: 10px;
    max-width: 600px;
    border-radius: 1px;
    box-shadow: grey 0px 1px 2px 0px inset;
    padding: 2px;
    border-right: none;
}
header .searchBarContainer .searchBtn{
    height:35px;
    background-color: #f8f8f8;
    border:1px solid grey;
    cursor:pointer;
    width:65px;
    
}
header .searchBarContainer .searchBtn img{
    height:30px;
    width:30px;
}