html,body{
    height:100%;
    padding: 0;
    margin: 0;
}

a:hover{
    text-decoration:none;
}

#pageContainer{
    width:100%;
    height:100%;
    background-color: #fafafa;

}
header{
    width:100%;
    height:60px;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    padding:7px 16px;
    border-bottom: 1px solid #e8e8e8;
    background-color: white;
    box-sizing:border-box;
    z-index: 1;
    align-items: center;
}
header .rightIcons img, header button{
border:none;
width:40px;
height:40px;
background-color:transparent;
cursor:pointer;
}

#sidenavContainer{
    width:240px;
    background-color: #F5F5F5;
    padding-top: 60px;
    position: fixed;
    top: 0;
    bottom:0;
}
#mainSectionContainer{
    padding-top: 60px;
    display:flex;
}

#mainSectionContainer.leftPadding{
    padding-left:240px;
}